a:link, a:visited {
    color: black;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

div.header {
    width: 920px;
    margin: 10px auto 20px;
    border-bottom: 1px solid #888888;
}

.header-title {
    font-size: 3.4rem;
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.search-box {
    padding-top: 10px;
}

div.header ul {
    display: flex;
    font-size: 2rem;
    margin-bottom: 0;
}

div.header li {
    margin-right: 3rem;
    margin-bottom: 0;
}


div.main-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 10px auto 10px;
}

.breadcrumbs {
    display: inline-block;
}

div.content {
    flex-basis: 600px;
}

/* list */
.category-title {
    font-size:2rem;
}
.article-item {
    padding-left: 10px;
    border-left: 5px solid #888888;
}

.article-item a {
    display: block;
    margin-left: -10px;
    padding-left: 10px;
}

.article-item a:hover {
    color: black;
    background-color: #F0F0F0;
    transition: background-color 0.5s;
}

/* sidebar */
div.sidebar {
    flex-basis: 280px;
    margin-left: 40px;
    /* border: 1px solid; */
}

/* footer */
.footer {
    width: 920px;
    margin: 30px auto 30px;
    padding-top: 20px;
    padding-left: 20px;
    border-top: 1px solid #888888;
}

.footer > ul {
    display: flex;
    margin-right: 2rem;
}

.footer > ul li {
    width: 20rem;
}

/* Larger than tablet */
@media (min-width: 750px) {
    aside h4 {
        font-size: 2.2rem;
        border-bottom: 1px solid #888888;
        margin-bottom: 1rem;
    }
}
